body {
  font-family: "Avenir Next";
  background-color: #FFF8E7;
}

#contact {
  font-family: "Avenir Next Condensed";
  font-size: 2em;
}

.navbar {
  border-radius: 0px;
  background-color: #202640;
  color: white;
}

.navbar-header {
  color: white;
}

footer {
  text-align: center;
}

.jumbotron {
    background-image: url(https://ashwyatt.files.wordpress.com/2011/08/corgi-jump.jpg);
}

#content {
  min-height: 80px;
}

p {
  text-align: justify;
}

img {
  border-radius: 10px;
}

.glyphicon {
  display: flex;
  vertical-align: center;
  font-size: 2em;
  color: #f31313;
}

#new-post {
  border-radius: 5px;
  height: 42px;
  width: 54px;
}

.glyphicon-plus-sign {
  color: #7f7f7f;
}

.btn-glyph {
  border-style: none;
  background-color: transparent;
}

.img-fill {
  width: 100%;
}
