<div class="container">
  <div class="jumbotron text-center">
    <h1>bloggsie: home</h1>
  </div>

  {{new-post savePost2="savePost3"}}

  {{#each model as |post|}}
    {{display-post post=post destroyPost="destroyPost"}}
  {{/each}}

</div>
